@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Mulish&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

ul,
li,
a,
button {
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #5D737E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.logo {
  width: 40px;
  margin-top: 8px;
}
.logo img {
  width: 100%;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}
nav ul li a {
  color: #000000;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 25px;
}

.nav-link {
  position: relative;
  color: #000000;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transition: 0.2s;
}
.nav-link:hover::after {
  transform: scaleX(1);
}

.hamburguesa {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hamburguesa div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #000000;
}

.contenedor-main {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 700px;
  background-image: url(../img/img1.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
}

.titulo-main {
  text-align: start;
  margin: 20px;
}
.titulo-main h2 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3960784314);
}
.titulo-main p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #BBBBBB;
  margin-bottom: 20px;
}
.titulo-main a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  background-color: #000000;
}
.titulo-main a:hover {
  transition: all 0.6s;
  background-color: #fff;
  color: #000000;
  padding: 8px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  padding-top: 60px;
  padding-bottom: 30px;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 25rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card img {
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50%;
  padding: 20px;
  background-color: #fff;
}
.card-text h3 {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
  height: 500;
  color: #000000;
}
.card-text p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
  height: 500;
  color: #000000;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #5D737E;
  width: 100vw;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.container-motivos {
  display: flex;
  justify-content: center;
  background-image: url(../img/motivos-home.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.7);
  height: 430px;
  width: 100vw;
  gap: 50px;
  padding: 0 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.col h3 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
}
.col p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  line-height: 25px;
  color: #BBBBBB;
}
.col a {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  padding-top: 10px;
  color: #000000;
}
.col a:hover {
  transition: 0.6s;
  color: #fff;
}
.col .item {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.container-motos {
  display: flex;
  height: auto;
  width: 100vw;
  margin-top: 60px;
  margin-bottom: 60px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 250px;
  background-image: url(../img/usada.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.left-side h3 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
}
.left-side p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  padding-inline: 10rem;
  line-height: 25px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 250px;
  background-image: url(../img/usada-bk.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.right-side h3 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
}
.right-side p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  padding-inline: 10rem;
  line-height: 25px;
}

.contenedor-pasos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  width: 80vw;
  height: 350px;
  margin: 0 auto;
  background-image: url(../img/feliz-fondo.webp);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.contenedor-pasos h3 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  line-height: 50px;
  padding-inline: 12rem;
  color: #fff;
  margin-bottom: 20px;
}

.contenido-pasos a {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  margin-top: 40px;
  padding: 7px;
  line-height: 25px;
  border: none;
  border-radius: 4px;
  color: #000000;
  background-color: #fff;
}
.contenido-pasos a:hover {
  transition: 0.7s;
  color: #fff;
  background-color: #30292F;
}

.container-footer {
  width: 100vw;
  margin: 0 auto;
  padding-left: 160px;
}

.footer {
  background-color: #000000;
  padding: 80px 0;
  font-family: "Mulish", sans-serif;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #5D737E;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li a {
  font-size: 18px;
  color: #BBBBBB;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: #fff;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ccdce4;
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: #5D737E;
}

.copy {
  color: rgba(255, 255, 255, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.banner-nuevas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondo-nuevas.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 100%;
}
.banner-nuevas h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.divisor-marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccdce4;
  height: 200px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.divisor-marcas .logo-marcas {
  height: 100px;
  width: auto;
}
.divisor-marcas p {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.card-container .card-nuevas {
  width: 360px;
  height: 480px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container .card-nuevas img {
  display: block;
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-container .card-info {
  padding: 20px;
}
.card-container .card-info h3 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}
.card-container .card-info p {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}
.card-container .card-info button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.contenedor-titulo h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #30292F;
}
.contenedor-titulo h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.contenedor-titulo p {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  margin-top: 10px;
  max-width: 500px;
}

.banner-service {
  height: 300px;
  width: 100vw;
  background-image: url(../img/banner-service.jpg);
  background-position: center;
  margin-bottom: 60px;
}

.contenedor-service {
  width: 100vw;
  max-width: 1100px;
  height: auto;
  background-image: url(../img/motivos-service.jpg);
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  padding: 2rem;
}
.contenedor-service p {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  font-weight: 600;
  max-width: 500px;
  margin-bottom: 25px;
}
.contenedor-service a {
  margin-top: 40px;
  padding: 7px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}
.contenedor-service a:hover {
  transition: 0.7s;
  color: #fff;
  background-color: #000000;
}

.container-trabajos {
  background-color: #5D737E;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 60px;
  padding: 2rem;
}

.col-stec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.col-stec h3 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  font-weight: 700;
  color: #000000;
}
.col-stec p {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  line-height: 25px;
  color: #000000;
}
.col-stec .item2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 50px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */